* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    text-align: justify;
}
a {
    color: #000;
    text-decoration: none;
}
#wrap {
    max-width: 1000px;
    margin: 0 auto;
}

#container {
    background-color: #eee;
    display: grid;
    max-width: 100%;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 1fr; */
}
.item {
    background-color: #eee;
    width: 100%;
    padding: 5px;
}
.item img {
    width: 100%;
}
.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}
.meta p {
    text-align: left;
}
.genre {
    background-color: #eee;
    padding: 1px 5px;
}
#genre_dropdown {
    position: relative;
    display: inline-block;
}
#genre_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 5px;
    z-index: 1;
    white-space: nowrap;
}
#genre_menu.open {
    display: block;
}
#genre_menu label {
    display: block;
    padding: 2px 5px;
}
#genre_toggle {
    width: 100px;
}
#tool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    gap: 10px;
}
#file_input {
    margin-right: auto;
}
